@import 'dropDown';
.left-side {
    width: 40%;
    background-color: #004bc4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right:$border;
    display: flex;
    .contacts-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;
        .profile{
            padding-top:20px;
            height: 92px;
            padding-bottom: 20px;
            margin-left: 5%;
            display: flex;
            justify-content: flex-start;
            .profile-container{
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                width: 100%;
                .img{
                    width: 50px;
                    height: 50px;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius:50%;
                    }
                }
                .flex-container{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items:center;
                    justify-content: flex-start;
                    position: relative;
                    .user-name{
                        padding-left: 3%;
                        // margin-left: 4%;
                        color:#fff;
                    }
                    .drop-container{
                        position: relative;
                        padding-left:3px;
                        .dropIcon{
                            font-size: 20px;
                            font-weight: 600;
                            color: #32363b;
                            transform: translateY(2px);
                        }
                        .open.dropIcon {
                            color:$third;
                        }
                    }

                }

            }
        }
        .search {
            height: 25px;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 10px;
            // padding-bottom: 15px;
            input{
                height: 25px;
                width: 100%;
                border-radius: 20px;
                outline: none;
                border:none;
                padding-left: 10px;
                color:white;
                font-family: 'Nunito', sans-serif;
                background-color: #00B4DB;
                border: $border;
            }
            ::placeholder{
                color:#fff;
                font-family: 'Nunito', sans-serif;
            }
        }
        .contacts{
            flex-grow: 1;
            overflow: auto;
            min-height: 0;
            width: 100%;
            margin-bottom: 60px;
            background-color: #004bc4;
            .contact{
                padding-left: 5%;
                border-bottom: 1px rgba(0,0,0,0.05) solid;
                cursor: pointer;
                .contact-profile{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-top:20px;
                    padding-bottom: 20px;
                    img{
                        width: 35px;
                        height: 35px;
                        border-radius:50%;
                    }
                    h2{
                        margin-left: 10px;
                        color:#fff;
                    }
                }
            }
            .contact:hover{
                background-color: $secondary;
            }
            .contact.active{
                background-color: $secondary;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .left-side .contacts-container .profile .profile-container .img{
        width: 35px;
        height: 35px;
        img{
            width: 35px;
            height: 35px;
        }
    }
    .left-side .contacts-container .profile .profile-container .flex-container{
        justify-content: center;
    }
    .left-side .contacts-container .profile .profile-container{
        flex-direction: column;
    }
    .contact-profile{
        flex-direction: column !important;
    }
}