.profile-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 92px;
    border-bottom: 2px $primaryDash solid;
    h3{
        position: relative;
        font-size: 20px;
    }
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    // transform: translateY(10%);
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
    width: 100%;
    margin-bottom: 20px;
    .input-container {
        text-align: center;
        max-width: 300px;
        width: 90%;
        .avatar{
            cursor: pointer;
            position: relative;
            margin-top: 20px;
            height: 120px;
            width: 120px;
            margin: 0 auto;
            margin-top: 20px;
            img {
                border-radius: 50%;
                width: 120px;
                height: 120px;
                object-fit: cover;
            }
            i {
                position: absolute;
                bottom: 10px;
                right: 0;
                font-size: 20px;
            }
        }
        .input {
            text-align: center;
            position: relative;
            padding: 5px 0;
            display: flex;
            flex-direction: row;
            input {
                padding-left: 30px;
                width: 100%;
                height: 45px;
                border-radius: 30px;
                outline: none;
                border: none;
                background-color: #fff;
                box-shadow: $shadow;
                color: #000;
                font-family: 'Montserrat', sans-serif;
            }
            ::placeholder{
                color:#000;
            }
            i {
                position: absolute;
                left: 4%;
                top: 50%;
                transform: translateY(-50%);
                color:#a5a5a5;
            }
            .button {
                padding-left: 0;
                margin-left: 10px;
                height: 45px;
                width: 65%;
                border-radius: 30px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: $secondary;
                box-shadow: $shadow;
                color:#fff;
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
            }
            .button.disabled {
                background-color: $secondaryDash;
                color:#000;
                pointer-events:none;
                cursor:auto;
            }
        }
        .error {
            padding-top: 20px;
            overflow-wrap: break-word;
            h2{
                color:red;
            }
        }
    }
}

@media only screen and (max-width: 690px) {
    .options .input-container .input    {
        flex-direction: column;
    }
    .options .input-container .input i{
        top:27px;
        left:10px;
    }
    .options .input-container .input .button{
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }
    
}